*{
    padding:0;
    margin:0;
}
body{
    background:#12181b;
    color:rgb(255, 255, 255);
    font-family: sans-serif;
    width:100%;
    height:100%;
}
main{
    height:100%;
    width:100%;
    position:absolute;
    z-index: -100;
    /* right:0; */
    /* transform: translate(0,-50%); */
}
aside{
    margin-top:5%;
    width:13%;
    position: absolute;
    text-align: center;
}
.changeOut{
    position:absolute;
    z-index: -2;
    right:5rem;
    top:2.5rem;
    display: inline;
    height:2.5rem;
    background:black;
    padding:.8rem 0 .8rem 0;
    border-radius:100px;
}
#mainView,#plantView{
    
    display:inline;
    line-height: 2.5rem;
    /* background:black; */
    padding:1.5rem;
    cursor: pointer;
    transition: .5s;
    transition-duration: .5s;
    border-radius:100px;
}
#slide{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    background:white;
    height:2.5rem;
    line-height: 2.5rem;
    width:50%;
    border-radius:100px;
    padding:.8rem 0 .8rem 0;
    transition: .1s;
    transition-duration: .1s;
}
/* 
.slideRight{
    width:1000px;
    left:50%;
} */
.select{
    /* background:white; */
    color:black;
}
#file{
    position: relative;
    margin-top:2.5%;
    left:50%;
    background:#12181b;
    transform:translate(-50%,0);
    font-size: 2rem;
    border:none;
    color:white;
    margin-bottom:10px;
}
#file:focus{
    border:none;
}
.fileOption{
    font-size: 1rem;
    background:#12181b;
    color:white;
}
#on,#off{
    font-size: 3rem;
    color:white;
    background:none;
    border:none;
    height:60%;
    width:40%;
    cursor: pointer;
}
#on:focus,#off:focus{
    outline:none;
}
#on{
    float:right;
    margin-right:.5rem;
}
#off{
    float:left;
    margin-left:.5rem;
}
.current{
    height:6rem;
    margin: 5px 0;
    margin-left:10px;
    background-color: black;
    text-align: center;
}
.current h3{
    font-size: 3rem;
    height:5rem;
    line-height: 3rem;
}
.label{
    font-size: .8rem;
    text-align: left;
    padding:5px;
}
.percent{
    position: relative;
    bottom:12px;
    background: white;
    height:1px;
}

#chartCont{
    width:80%;
    position: absolute;
    right:6%;
    margin-top:5%;
}
